---
import "../styles/global.css";
import WebsiteConfig from "../../website.config";
import PolyfillLoader from "@/components/polyfill-loader";
import GoogleAnalytics from "@/components/integrations/google-analytics.astro";
import {GoogleConstants} from "../constants/google.constants";
import {Toaster} from 'react-hot-toast';
import {BuildingId} from "../components/ui/building-id";
import {isSSG} from "../utils/isr/isr-revalidation";

export interface Props {
  title: string;
  description: string;
}

const {title = WebsiteConfig.title, description = WebsiteConfig.description} = Astro.props;
const GA_MEASUREMENT_ID = GoogleConstants.GA_MEASUREMENT_ID

---
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width"/>
  <meta name="description" content={description}/>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
  <meta name="generator" content={Astro.generator}/>
  <link rel="sitemap" href="/sitemap-index.xml"/>
  <title>{title}</title>
  {
    GA_MEASUREMENT_ID &&
    <GoogleAnalytics measurementId={GA_MEASUREMENT_ID}/>}
</head>
<body>
<slot/>
<PolyfillLoader client:only="react"/>
<Toaster client:only="react"/>
<BuildingId client:only="react"/>
</body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
